// Whatsapp

#whatsapp
    position fixed; left 30px; bottom 30px; height 70px; width 70px; background #25d366; display flex; align-items center; justify-content center
    border-radius 50%; transition all 0.5s ease
    img
        height 40px; filter invert(1);
    &:hover
        background darken(#25d366, 50%)