// Header

#header
    position fixed; top 0; width 100%; left 0; z-index 10; padding 15px 30px; background rgba(#c1c1c1, 0.4); backdrop-filter blur(5px)
    display flex; align-items center; justify-content space-between
    h1
        font 0/0 a;
    .nav
        display flex; gap 30px;
        li
            button
                font-size rem(14); text-transform uppercase; text-decoration none;