// Servicos

#servicos
    padding 70px 20px
    .cards
        display flex; align-items center; gap vh(35); flex-flow row wrap; justify-content center;
        .card
            background #fff; border-radius 10px; box-shadow 0 0 7px 3px rgba(#000, 0.15);
            width vh(390); height vh(470); padding 40px 20px
            h3
                font-size vh(30); margin-bottom vh(30); color $vermelho; letter-spacing letterSpacing(-50)
                text-align center; font-weight $font-regular; line-height vh(32);
            .itens
                list-style-type disc; padding-left 20px
                .item
                    color $cinza; font-size vh(18); letter-spacing letterSpacing(-50); line-height vh(30)

+mobile-600()
    #servicos
        .cards
            .card
                height auto; min-height vh(350)